<h2>Haunt Recursively via Email</h2>
<%= form_for @victim do |f| %>
  <div><%= f.text_field :name, :placeholder => "Your Victim's Name" %></div>
  <div><%= f.text_field :email, :placeholder => "Your Victim's Email" %></div>
  <div><%= f.submit "Send Email" %></div>
<% end %>